.register {
  display: flex;
  flex-direction: row;
  padding: 0rem 15rem 0rem 6rem;

  .register__content {
    width: 40%;
    padding-top: 2.5rem;
  }

  .register__form {
    width: 40%;
    padding: 0.5rem;
  }

  .buttons {
    width: -webkit-fill-available;
  }
}
@media screen and (max-width: 480px) {
  .register {
    display: flex;
    flex-direction: column;
    padding: 0px;

    .register__content {
      width: 100%;
      padding-top: 0px;
    }

    .register__form {
      width: 100%;
      padding: 0px;
    }
  }
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .register {
    padding: 1rem 4rem 1rem 4rem;
  }
}
